.row {
  display: flex;
  font-family: Arial, Verdana, Tahoma;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin:0
}
.component-wrapper {
  padding-top: 10px;
  padding-right:0px;
  padding-left: 0px;
}
.pie-wrapper {
  padding-right: 10px;
}
.pie-panel{
  height: 312px;
  display: flex;
  font-weight: bold;
  flex-flow: row wrap;
  text-align: center;
  border-style: solid;
  border: 1px;
  border-radius: 5px;
  border-color: pink;
  padding-left: 0;
  justify-content: center;
  background-color: white;
  padding-top:0px;
}
.pie-header{
  margin-top: -10px;
  border-bottom-color: black;
  width: 100%;
}
.title {
  font-size: 16px;
  font-weight: bold;
}
.top-data {
  margin-bottom: -5%;
  width: 100%
}


/* @media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}  */

.para-top {
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-weight: 400;
}
@media screen and (max-width: 1320px) {
  .para-top {
    font-size: 10px;
  }
  .pie-chart{
    margin-left: -30px;
  }
}
@media screen and (max-width: 1185px) {
  .para-top {
    font-size: 9px;
  }
}
@media screen and (max-width: 1050px) {
  .para-top {
    font-size: 8px;
  }
}
@media screen and (max-width: 990px) {
  .para-top {
    font-size: 11px;
  }
}


.data-left {
  padding-left: 5%;
}
.data-right {
  padding-right: 5%;
}
.pie-chart {
  width: 100%
}
.bottom-data {
  margin-top: -25px;
  padding-bottom: 10px;
  width: 100%
}
.para-bot {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: 500;
}

.bar-wrapper {
  padding-left: 0px;
  padding-bottom: 2px;
  padding-right: 10px;
}
.bar-panel {
  height: 312px;
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border: 1px;
  border-radius: 5px;
  border-color: black;
  padding-left: 0;
  justify-content: center;
  background-color: white;
}
.bar-header {
  width: 100%;
}
.chart-stats {
  width: 100%;
  font-size: 16px;
  flex-direction: row;
}
.chart-values {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  flex-direction: row;
}
.left-element{
  padding-right: 20%;
  width: 50%;
}
.right-element{
  padding: 0px;
  width: 50%;
}

.arrow {
  height: 16px;
}

.chart-inner {
  /* text-align:center; */
  /* margin: 0 auto; */
  display: inline-block;
}

.line-row {
  padding-top: 30px;
}
.line-panel {
  width: 100%;
  display: flex;
  font-weight: bold;
  flex-flow: row wrap;
  text-align: center;
  border-style: solid;
  border: 1px;
  border-radius: 5px;
  border-color: pink;
  justify-content: center;
  background-color: white;
}
.line-wrapper {
  margin:25px;
  width: 100%;
  background-color: #F4F7F9;
}
.line-header {
  width:100%;
  padding-bottom: 10px;
}
.title-right {
  padding-right: 20px;
  font-weight: 500;
}
