.row {
  display: flex;
  font-family: Arial, Verdana, Tahoma;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin:0
}
.component-wrapper {
  padding-top: 10px;
  padding-right:0px;
  padding-left: 0px;
}
.pie-wrapper {
  padding-right: 10px;
}
.pie-panel{
  height: 312px;
  display: flex;
  font-weight: bold;
  flex-flow: row wrap;
  text-align: center;
  border: solid grey;
  border-width: 1px 1px;
  border-radius: 5px;
  padding-left: 0;
  justify-content: center;
  background-color: white;
  padding-top:0px;
}
.pie-header{
  margin-top: -10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  width: 100%;
}
.green{
  border-bottom-color: green;
}
.red{
  border-bottom-color: red;
}
.blue{
  border-bottom-color: blue;
}
.title {
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
.top-data {
  padding-top: 10px;
  margin-bottom: -5%;
  width: 100%
}

.para-top {
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-weight: 400;
}
@media screen and (max-width: 1320px) {
  .para-top {
    font-size: 10px;
  }
  .pie-chart{
    margin-left: -30px;
  }
}
@media screen and (max-width: 1185px) {
  .para-top {
    font-size: 9px;
  }
  .pie-chart{
    margin-left: -10px;
  }
}
@media screen and (max-width: 1050px) {
  .para-top {
    font-size: 8px;
  }
}
@media screen and (max-width: 990px) {
  .para-top {
    font-size: 11px;
  }
}

.data-left {
  padding-left: 5%;
}
.data-right {
  padding-right: 5%;
}
.pie-chart {
  width: 100%
}
.bottom-data {
  margin-top: -25px;
  padding-bottom: 10px;
  width: 100%
}
.para-bot {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: 500;
}

.arrow {
  height: 16px;
}

.chart-inner {
  /* text-align:center; */
  /* margin: 0 auto; */
  display: inline-block;
}

.glyph-right {
  padding-right: 5px;
}
